@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.rye-font {
  font-family: 'Rye', cursive;
}

.libre-bodoni-font {
  font-family: 'Libre Bodoni', serif;
}

.nunito-sans-font {
  font-family: 'Nunito Sans', sans-serif;
}

